body {
  font-family: Arial, sans-serif;
  margin: 20px;
  background: linear-gradient(135deg,#f798ba,#8a23a3);
  width: 97%;
  min-height: 100vh;
}
h1 {
  padding: 5px;
  text-align: center;
  background-color:rgb(141, 6, 144);
  color:rgb(12, 13, 13);
  margin: -20px -20px 50px  -20px;
}
.container{
    justify-content: center;
    width: 500px;
    margin:  150px 0px 50px 370px;
    padding: 20px ;
    background-color: #edcccc;
    border: 1px solid #ccc;
    border-radius: 5px;

}
.row{
  display:flex;
  align-items: center;
  justify-content: space-between;
  background: #edeef0;
  border-radius: 30px;
  padding-left: 20px;
  margin-bottom: 20px;

}

.add-task input {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  padding: 10px;
  font-weight: 14px;
  font-size: 17px;
}

.add-task button {
  border:none;
  outline:none;
  padding: 16px 50px;
  cursor: pointer;
  background-color:rgb(56, 169, 86);
  font-size: 16px;
  border-radius: 40px;
  color:#111010;  

}
h2{
   text-align: center;
}

ul li{
  list-style-type:disc;
  font-size: 20px;
  user-select:none;
  cursor: pointer;
  margin-bottom: 15px;
}
.completed {
  text-decoration: line-through;
  color: #fb4646;
}
 
li #delete-button{
  background-color:red;
  border-radius: 60px;
  margin-left: 270px;
  margin-right: 10px;
  margin-top: -20px;
  padding: 5px;
  
}
li #complete-button{
  background-color:rgb(56, 169, 86);
  border-radius: 60px;
  padding: 5px;
  
}

